/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

/* Variables */
:root {
  /* Colors */
  --color-background: rgb(14, 17, 22);
  --color-primary: rgb(218, 176, 232);
  --color-accent-700: rgb(196, 118, 222);
  --color-accent-400: rgb(167, 106, 187);
  --color-neutral-700: rgb(59, 59, 60);
  --color-neutral-400: rgb(22, 27, 34);
  --color-neutral-300: rgb(240, 239, 252);
  --color-neutral-200: rgb(224, 223, 248);

  /* Font Sizes */
  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.5rem;
  --font-size-5xl: 10rem;

  /* Spacing */
  --spacing-0-5: 0.5rem;
  --spacing-1: 1rem;
  --spacing-3: 3rem;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Global Styles */
body {
  align-items: center;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

/* Utility Classes */
.font-regular {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.font-medium {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

.font-bold {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}

/* Landing Header */
.landing-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-0-5);
  justify-content: center;
}

.landing-header__logo {
  height: auto;
  max-width: 100%;
}

.landing-header__subtitle {
  font-size: var(--font-size-lg);
  background: -webkit-linear-gradient(
    var(--color-primary),
    var(--color-accent-700)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-header__description {
  font-size: var(--font-size-md);
  background: -webkit-linear-gradient(
    var(--color-primary),
    var(--color-accent-700)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Landing Buttons */
.landing-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  justify-content: center;
}

/* Buttons */
.btn {
  background-color: var(--color-accent-400);
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-size-md);
  padding: 1rem 2rem;
  text-decoration: none;
  transition: opacity 0.3s;
  width: 100%;
}

.btn:hover,
.btn:focus-visible {
  opacity: 0.65;
}

.btn--inverted {
  background-color: var(--color-neutral-300);
  color: var(--color-neutral-700);
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: var(--color-neutral-400);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-3);
}

.small-logo {
  width: 80%;
  margin-top: var(--spacing-1);
}

.sidebar-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-1);
}

.sidebar-btn {
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-size-md);
  text-decoration: none;
  transition: opacity 0.3s;
  width: 100%;
}
