body {
  /* background-color:  */
}

.filter-container {
  margin: 20px;
  text-align: center;
}

.filters-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-select {
  width: 200px;
}

.apply-button {
  padding: 5px 15px;
  cursor: pointer;
}

.bar-chart-container {
  width: 80%;
  margin: 0 auto;
}

.pie-chart-container {
  width: 50%;
  margin: 20px auto;
}
