/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

/* Variables */
:root {
  /* Colors */
  --color-background: rgb(14, 17, 22);
  --color-primary: rgb(218, 176, 232);
  --color-accent-700: rgb(196, 118, 222);
  --color-accent-400: rgb(167, 106, 187);
  --color-neutral-700: rgb(59, 59, 60);
  --color-neutral-400: rgb(22, 27, 34);
  --color-neutral-300: rgb(240, 239, 252);
  --color-neutral-200: rgb(224, 223, 248);

  /* Font Sizes */
  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.5rem;
  --font-size-5xl: 10rem;

  /* Spacing */
  --spacing-0-5: 0.5rem;
  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --spacing-3: 3rem;
  --spacing-4: 4rem;
  --spacing-5: 5rem;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Global Styles */
body {
  align-items: center;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

/* Utility Classes */
.font-thin {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}

.font-regular {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.font-medium {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

.font-bold {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}

/* Landing Header */
.landing-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-0-5);
  justify-content: center;
}

.landing-header__logo {
  height: auto;
  max-width: 100%;
}

.landing-header__subtitle {
  font-size: var(--font-size-lg);
  background: -webkit-linear-gradient(
    var(--color-primary),
    var(--color-accent-700)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-header__description {
  font-size: var(--font-size-md);
  background: -webkit-linear-gradient(
    var(--color-primary),
    var(--color-accent-700)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Landing Buttons */
.landing-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  justify-content: center;
}

/* Buttons */
.btn {
  background-color: var(--color-accent-400);
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-size-md);
  padding: 1rem 2rem;
  text-decoration: none;
  transition: opacity 0.3s;
  width: 100%;
}

.btn:hover,
.btn:focus-visible {
  opacity: 0.65;
}

.btn--inverted {
  background-color: var(--color-neutral-300);
  color: var(--color-neutral-700);
}

/* Menubar Styles */
.menubar {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-5);
}

.small-logo {
  width: 300px;
}

.menubar-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2);
}

.menubar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-0-5);
  background: none;
  border: none;
  font-size: var(--font-size-md);
  color: var(--color-neutral-200);
  transition: opacity 0.3s;
}

.menubar-btn:hover {
  opacity: 0.5;
}

h2 {
  font-family: "Lexend", sans-serif;
  font-size: var(--font-size-lg);
  color: var(--color-neutral-200);
}
.formSalary {
  background-color: #484444;
  font-family: "Lexend", sans-serif;
  padding: 20px;
  display: flex;
  width: 80vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 65vh;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.formCompany {
  background-color: #484444;
  font-family: "Lexend", sans-serif;
  padding: 20px;
  display: flex;
  width: 80vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 50vh;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.formCompany.show {
  opacity: 1;
  transform: translateY(0);
}


.formSalary.show {
  opacity: 1;
  transform: translateY(0);
}

form {
  width: 100%;
}

form input, 
form select, 
form button {
  background-color: rgb(14, 17, 22);
  color: white;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

form input::placeholder {
  color: white;
}

form input, 
form select {
  color: white !important;
  text-align: start;
}

form input:focus, 
form select:focus {
  background-color: white;
  color: black !important;
  caret-color: black;
  outline: none;
}

form input:hover, 
form button:hover, 
form select:hover {
  background-color: white;
  color: black !important;
}

form input:hover::placeholder, 
form input:focus::placeholder {
  color: black !important;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 3px;
}

.row select, 
.row input, 
.row button {
  flex: 1;
  min-width: 0;
}

button {
  cursor: pointer;
}

form button {
  text-align: center;
}

a {
  text-decoration: none;
}
